#include <windows.h>
#include "resource.h"

// Icon
IDI_APPICON ICON "Icon.ico"

// Dialog definition
IDD_MAIN_DIALOG DIALOGEX 0, 0, 175, 105
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CopyBasket Context Menu Tool"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTORADIOBUTTON "Activate CopyBasket Context Menu", IDC_RADIO_ACTIVATE, 10, 15, 155, 12, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Deactivate CopyBasket Context Menu", IDC_RADIO_DEACTIVATE, 10, 27, 155, 12
    CONTROL "", -1, "Static", SS_ETCHEDHORZ, 10, 45, 155, 1
    AUTOCHECKBOX "Delete User Settings", IDC_CHECK_CLEANREG, 10, 52, 155, 12
    LTEXT "", IDC_WARNING_TEXT, 22, 64, 143, 10, NOT WS_VISIBLE
    DEFPUSHBUTTON "OK", IDOK, 62, 82, 50, 14
END
